.container {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #120e19;
  height: 100vh;
  position: relative;
}

.container:after,
.container:before {
  position: absolute;
  height: 100%;
  width: 30%;
  content: " ";
  opacity: 1;
  z-index: 100;
}
.container:before {
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, transparent 95%);
}
.container:after {
  right: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 1) 30%, transparent 95%);
}

.listsWrap {
  width: 100%;
  padding-top: 40px;
}
